<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <springProfile name="bunyan">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
        <layout class="se.kth.infosys.logback.BunyanLayout" />
      </encoder>
    </appender>
  </springProfile>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
